body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, lightgreen, whitesmoke);
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    color: #333;
    margin-bottom: 30px;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .buttons {
    display: flex;
  }
  #game-stats {
    font-weight: bold;
    font-size: 20px;
  }
  
  #player-choice,
  #computer-choice {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
  }